PyMuPDF==1.23.5
sentence-transformers==2.2.2
numpy==1.24.3
torch --index-url https://download.pytorch.org/whl/cpu
torchvision --index-url https://download.pytorch.org/whl/cpu
transformers==4.33.2
huggingface-hub==0.25.2
optimum[onnxruntime]==1.16.0
onnxruntime==1.16.3
